.editFormBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editFormTitle {
  color: var(--white);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editTypeTitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  gap: 12px;
}

.editForm {
  width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* padding: 80px 73px 40px; */
}

.editIncomeHighlight {
  color: var(--yellow);
}

.editExpenseHighlight {
  color: var(--dashboard_text);
}

.editCategoryWrapper {
  position: relative;
  width: 100%;
}

.editCategoryWrapper::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white_40);
}

.editCategory {
  width: 100%;
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: transparent;
  outline: none;
}
/* ================================================== */

.editSumDate {
  display: flex;
  gap: 32px;
}

.editSumDate span {
  max-width: 181px;
  font-family: var(--font_family);
  font-size: 12px;
  font-weight: 400;
  outline: none;
  color: var(--dashboard_text);
}

.editSumWrapper {
  position: relative;
  width: 181px;
  margin-bottom: 10px;
}

.editSumWrapper::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white_40);
}

.editAmount {
  width: 100%;
  color: var(--white);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  background: transparent;
  outline: none;
}

.editAmount::placeholder {
  color: var(--white_60);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editDateWrapper {
  position: relative;
  margin-bottom: 10px;
}

.editDateWrapper::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white_40);
}

.editDate {
  width: 181px;
  color: var(--white);
  font-family: var(--font_family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editComment {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editComment::placeholder {
  color: var(--white_60);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editCommentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editCommentContainer span {
  font-family: var(--font_family);
  font-size: 12px;
  font-weight: 400;
  outline: none;
  color: var(--dashboard_text);
}

.editCommentWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.editCommentWrapper::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white_40);
}

.editBtnBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editSubmitBtn {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  background: var(--gradient);
  border: none;
  outline: none;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.1s ease;

  color: var(--white);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.editSubmitBtn:hover {
  transform: scale(1.05);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.4);
}

.editSubmitBtn:active {
  transform: scale(1);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}

.editCancelBtn {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  background: var(--white);
  border: none;
  outline: none;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.1s ease;

  color: var(--text_button);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.editCancelBtn:hover {
  transform: scale(1.05);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.4);
}

.editCancelBtn:active {
  transform: scale(1);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}
