.fon {
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgba(72, 57, 113),
    rgba(64, 51, 116),
    rgba(62, 45, 147),
    rgba(69, 47, 141),
    rgba(97, 62, 131)
  );
  padding: 23px 20px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 556px) {
  .fon {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
    height: 100vh;
    background-position: center center;
  }
}

@media only screen and (min-width: 768px) {
  .fon {
    background-image: url(../../images/Login_tab.png),
      linear-gradient(to bottom right, #2f15b0, #252480, #000000);
  }
}
@media only screen and (min-width: 1280px) {
  .fon {
    background-image: url(../../images/Login_bh.png),
      linear-gradient(to bottom right, #2f15b0, #252480, #000000);
  }
}

@media only screen and (min-width: 556px) {
  .hello {
    color: red;
    width: 40px;
    height: 40px;
    flex-basis: auto;
  }
}

.iner {
  width: 320px;
  margin: 0 auto;
}

@media only screen and (min-width: 556px) {
  .iner {
    width: 533px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 556px) {
  .wrap {
    padding: 62px 0px;
    border-radius: 8px;
    backdrop-filter: blur(50px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: var(--form_color);
    /* background: linear-gradient(
      to bottom right,
      rgba(72, 57, 113),
      rgba(64, 51, 116),
      rgba(62, 45, 147),
      rgba(69, 47, 141),
      rgba(97, 62, 131)
    ); */
  }
}

.wrap_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.logo {
  width: 26px;
  height: 26px;
}

@media only screen and (min-width: 556px) {
  .logo {
    width: 40px;
    height: 40px;
  }
}

.title {
  font-weight: 400;
  font-size: 19px;
}

@media only screen and (min-width: 556px) {
  .title {
    font-size: 26px;
  }
}

.wrap_form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.iner_form {
  max-width: 280px;
}

@media only screen and (min-width: 556px) {
  .iner_form {
    max-width: 409px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrap_input {
  position: relative;
}

.input {
  background: none;
  border: none;
  padding-left: 54px;
  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--white_60);
  padding-bottom: 8px;
  background: none;
  width: 90%;
}

.error {
  position: absolute;
  top: 40px;
  left: 0px;
  color: var(--dashboard_text);
}

.line {
  width: 280px;
  border: 1px solid var(--white_40);
}

@media only screen and (min-width: 556px) {
  .line {
    width: 409px;
  }
}

.svg_form_first {
  position: absolute;
  top: 3px;
  left: 16px;
}

.svg_form_second {
  position: absolute;
  top: 7px;
  left: 19px;
}

.svg_form_third {
  position: absolute;
  top: 2px;
  left: 18px;
}

.svg_form_name {
  position: absolute;
  top: 3px;
  left: 14px;
}

.btn_first {
  transition: all 150ms ease-in;
  border-radius: 20px;
  border: none;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn_first:hover {
  transform: scale(1.05);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.4);
}
.btn_first:active {
  transform: scale(1);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 556px) {
  .btn_first {
    width: 300px;
  }
}

.btn_second {
  transition: all 150ms ease-in;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #623f8b;
  padding: 13px 103px;
  display: block;
  margin: 0 auto;
}

.btn_second:hover {
  transform: scale(1.05);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.4);
}
.btn_second:active {
  transform: scale(1);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 556px) {
  .btn_second {
    width: 300px;
  }
}

.PassClose {
  position: absolute;
  top: -2px;
  right: 0;
  fill: var(--white_60);
}

.PassOpen {
  position: absolute;
  top: -2px;
  right: 0;
  fill: var(--yellow);
}
