.itemRow {
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date,
.type,
.category,
.comment,
.sum,
.btnBox {
  padding-top: 16px;
  padding-bottom: 16px;
}

.date {
  padding-left: 20px;
  width: 14%;
}
.type {
  text-align: center;
  width: 14%;
}

.category {
  text-align: left;
  width: 18%;
}
.comment {
  text-align: left;
  width: 30%;
  line-height: 18px;
}

.sum {
  text-align: right;
  width: 15%;
  font-weight: 600;
  padding-right: 20px;
}

.sumNegative {
  color: var(--dashboard_text);
}

.sumPositive {
  color: var(--yellow);
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6px;
}

.editBtn {
  border: none;
  width: 30px;
  height: 40px;
  background: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  transition: all 0.1s ease;
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
}

.editBtn:hover {
  transform: scale(1.1);
}

.editBtn:active {
  transform: scale(1);
}

.delBtn {
  display: flex;
  justify-content: center;
  width: 69px;
  height: 29px;
  align-items: center;
  padding: 4px 12px;
  border: none;
  border-radius: 20px;
  background: var(--gradient);
  color: var(--white);
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease;
  transform-origin: center;
  font-family: var(--font_family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.delBtn:hover {
  transform: scale(1.1);
}

.delBtn:active {
  transform: scale(1);
}

@media screen and (max-width: 767px) {
  .mobileOuterWrapper {
    width: 100%;
    padding: 0px 20px 8px;
  }

  .mobileItemBox {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
  }

  .mobileItemBoxIncome {
    border-left: 5px solid var(--yellow);
  }

  .mobileItemBoxExpense {
    border-left: 5px solid var(--dashboard_text);
  }

  .itemRow {
    /* min-width: none; */
    display: flex;
    flex-direction: column;
    border: none;
  }

  .date,
  .type,
  .category,
  .comment,
  .sum {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 12px 15px;
    width: 100%;
    font-family: var(--font_family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .date::before {
    content: "Date";
    color: var(--white);
    font-family: var(--font_family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .type::before {
    content: "Type";
    color: var(--white);
    font-family: var(--font_family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .category::before {
    content: "Category";
    font-weight: 600;
  }

  .comment::before {
    content: "Comment";
    color: var(--white);
    font-family: var(--font_family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .sum::before {
    content: "Sum";
    color: var(--white);
    font-family: var(--font_family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .btnBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 15px;
    border: none;
  }

  .date,
  .type,
  .category,
  .comment,
  .sum {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px 20px 12px 15px;
  }

  /* .itemRow:last-child {
    border-bottom: none;
  } */
}
