.container {
  background-image: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  align-items: center;
  z-index: 5;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.logosvg {
  width: 18px;
  height: 18px;
}

.title {
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
  font-family: var(--font_family);
}

.logout {
  display: flex;
  align-items: center;
}

.username {
  font-weight: 400;
  font-size: 16px;
  font-family: var(--second_family);
  text-align: right;
  color: var(--white_60);
  padding-right: 8px;
  text-transform: capitalize;
}

.exit {
  display: none;
}
.vector {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px 32px;
  }

  .title {
    font-size: 17px;
  }
  .exit {
    display: inline;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font_family);
    text-align: right;
    color: var(--white_60);
    padding-left: 8px;
  }
  .username {
    border-right: 1px solid var(--white_60);
    padding-right: 12px;
    margin-right: 12px;
  }

  .logosvg {
    width: 24px;
    height: 24px;
  }
  .logosvguse {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--white_60);
  padding: 0;
  display: flex;
  gap: 8px;
  font-size: 16px;
  padding: 10px 0;
  &:hover {
    stroke: var(--white);
    color: var(--white);
  }
}

.logoutButton svg {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .exitButton {
    display: inline;
  }
}
/* section modal */

.logoModal {
  display: none;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalText {
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font_family);
  text-align: center;
  color: #fff;
  width: 214px;
  margin-bottom: 40px;
}

.logoutBtn {
  border-radius: 20px;
  min-width: 280px;
  min-height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  border: none;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font_family);
  margin-bottom: 20px;
}

.cancelBtn {
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fbfbfb;
  border-radius: 20px;
  min-width: 280px;
  min-height: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #623f8b;
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font_family);
  border: none;
}
.cancelBtn:hover,
.logoutBtn:hover {
  transform: scale(1.05);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.4);
}
.logoutBtn:active,
.cancelBtn:active {
  transform: scale(1);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}
.modalLogo {
  display: none;
}

@media screen and (min-width: 768px) {
  .modalContent {
    min-width: 533px;
    min-height: 447px;
    align-items: center;
    justify-content: center;
  }
  .modalLogo {
    display: inline;
  }
  .modalText {
    width: 299px;
    margin-bottom: 52px;
  }
  .logoutBtn {
    min-width: 300px;
  }
  .cancelBtn {
    min-width: 300px;
  }
  .logoModal {
    display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
  }
  .titleModal {
    font-weight: 400;
    font-size: 26px;
    color: var(--white);
    font-family: var(--font_family);
  }
  .logosvgModal {
    width: 36px;
    height: 36px;
  }
}
