.wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 480px;
	border-right: 1px solid var(--white);
	padding-top: 42px;
	height: 100%;
}

.navigationBox {
	padding: 0 16px;
}

.balanceBox {
	background-color: rgba(82, 59, 126, 0.6);
	box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
	padding: 8px 56px 11px;
}

.currencyBox {
	flex-grow: 1;
	height: 100%;
}
