.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 480px;
  border-right: 1px solid var(--white);
  padding-top: 40px;
  height: 100%;
}

.topPart {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.navigationBox {
  padding: 0 16px;
}

.currencyBox {
  flex-grow: 1;
  height: 100%;
}

@media (max-width: 1279px) {
  .wrapper {
    border-right: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 32px;
    height: 214px;
  }

  .topPart {
    width: 50%;
    padding-top: 40px;
    align-self: flex-end;
  }

  .navigationBox {
    padding: 0;
  }

  .balanceBox {
    border-radius: 8px;
  }

  .currencyBox {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    height: auto;
  }

  .topPart {
    width: 100%;
    padding-top: 15px;
  }
}
