.transactionListBox {
  width: calc(100vw - 480px);
  max-width: 1200px;
  max-height: calc(100vh - 110px);

  padding: 0px 100px 40px 69px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-top: 46px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.transactionListBox::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .transactionListBox {
    width: 100%;
    padding: 0px 32px 40px;
    margin-top: 20px;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .transactionListBox {
    width: 100vw;
    padding: 0px;
    margin-top: 32px;
    overflow: hidden;
  }
}

.table {
  min-width: 715px;
  border-collapse: collapse;
  table-layout: auto;
  border-radius: 8px;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .table {
    min-width: 704px;
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .table {
    min-width: none;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
  }
}

.table thead {
  border-radius: 8px;
}

.tableBody {
  overflow-y: auto;
  border-radius: 8px;
}

.tableHeader {
  background: rgba(82, 59, 126);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  color: var(--white);
  font-family: var(--font_family);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  border-radius: 8px;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .tableHeader {
    position: static;
    width: 100%;
    border-radius: 8px;
  }
}

@media (max-width: 767px) {
  .tableHeader {
    display: none;
  }
  .table thead {
    display: none;
  }
}

.tableHeader th {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
}

.date {
  padding-left: 20px;
  text-align: left;
  width: 14%;
}

.type {
  text-align: center;
  width: 14%;
}

.category {
  text-align: left;
  width: 18%;
}

.comment {
  text-align: left;
  width: 30%;
}

.sum {
  text-align: right;
  padding-right: 20px;
  width: 15%;
}

.actions {
  width: 15%;
}

.addTrnBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: var(--gradient);
  color: var(--white);
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}

@media (max-width: 767px) {
  .addTrnBtn {
    bottom: 20px;
    right: 20px;
  }
}

.addTrnBtn:hover {
  transform: scale(1.05);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.4);
}

.addTrnBtn:active {
  transform: scale(1);
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}

.thead {
  position: relative;
}

.thead::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  border-radius: 8px;
  z-index: -1;
  background: rgba(82, 59, 126);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}
