.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(74, 86, 226, 0.1);
  @media only screen and (max-width: 767px) {
    margin-top: 24px;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.mainRow {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}

.item {
  padding: 16px 25px;
  text-align: center;
}

.diagramBox {
  width: 100%;
  position: relative;
}

.diagram {
  width: 100%;
}

.pointNumber {
  color: var(--dashboard_text);
  font-size: 12px;
}

.pointFirst {
  position: absolute;
  top: 15px;
  left: 50px;
}

.pointSecond {
  position: absolute;
  top: -20px;
  right: 100px;
}

@media (max-width: 1279px) {
  .wrapper {
    border-radius: 0px 0px 8px 8px;
  }

  .mainItem {
    padding: 12px 20px;
  }

  .item {
    padding: 8px 20px 6px;
  }

  .pointNumber {
    display: none;
  }

  .diagram {
    max-height: 88px;
  }
}
